body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
}

.screen {
  height: 50vh;
  background-color: #1ABC9C;
  z-index: 0;
}

.background {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -334px;
  z-index: 2;
  width: 375px;
  height: 668px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

@media only screen and (max-height: 668px){
  .background {
    height: 100vh;
    width: auto;
    overflow: auto;
  }
}

@media only screen and (max-width: 375px) {
  .background {
    box-shadow: none;
  }
}

.background .ui {
  position: relative;
  display: block;
  background-color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 335px;
  height: 450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.background .ui img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.background .ui form input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  height: 50px;
  width: 275px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding-left: 19px;
}

.background .ui form .bottom {
  margin-bottom: 45px;
}

.background .ui form input ::webkit-input-placeholder {
  color: #ccc;
}

.background .ui .signUp {
  text-align: center;
  color: #5E5E5E;
  font-size: 16px;
}

.background .ui .signUp .signUpLink {
  color: #343434;
  text-decoration: none;
}

.background .ui .button {
  background-color: #1ABC9C; /* Green */
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  padding: 17px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

@media only screen and (max-width: 414px){
  .ui {
    width: 100vw;
    height: 100vh;
  }
}
